extends ../layout

block content
	.ty_admin_list
		h2 #{title}
			a(href="/admin/#{type}/",class="btn") 新建
		table
			tr
				td 文章名称
				td 操作
			each item in showList
				tr
					td #{item.title}
					td
						if type == "articles"
							button.del(type="button",data-id="#{item._id}") 删除
						else
							button.delD(type="button",data-id="#{item._id}") 删除
	script(src="/libs/js/admin.js")