extends ../layout

block content
	h1.ty_in_title 
		span 小文章
	.ty_article_list
		ul
			if articles
				each item in articles
					li
						h3 
							a(href="#{item.url}") #{item.title}
						p #{item.summary}
			else
				
	.pagelist
		.pagelistIN
			a(href='/article?number=#{now-1}').pre 上一页
				for item in numbers
					if item == now
						a(href='article?number=#{item}').btn.on #{item}
					else
						a(href='article?number=#{item}').btn #{item}
			a(href='/article?number=#{now+1}').next 下一页