extends ../layout

block content
	h1.ty_in_title 
		span  图片
	.ty_pic_list
		ul
			if imgs
				each item in imgs
					li
						img(src="#{item.url}", alt="暂无图片")
						h3 #{item.title}
						p #{item.detial}
			else
				
	.pagelist
		.pagelistIN
			a(href='/imgs?number=#{now-1}').pre 上一页
				for item in numbers
					if item == now
						a(href='imgs?number=#{item}').btn.on #{item}
					else
						a(href='imgs?number=#{item}').btn #{item}
			a(href='/imgs?number=#{now+1}').next 下一页