extends ../layout

block content
	.ty_bannar
		.swiper-container(style='width:100%;height:400px;')
			.swiper-wrapper
				if bannars
					each item in bannars
						.swiper-slide
							a(href="diary_in?diaryId=#{item.diaryId}")
								img(src="#{item.img}",alt="#{item.title}")
			.swiper-pagination
	.ty_index
		.ty_left
			.ty_article_list
				h2.ty_index_h2 
					span 旅游日记
				ul
					each item in diarys
						li
							h3 
								a(href="diary_in?diaryId=#{item.diaryId}") #{item.title}
							p #{item.summary}
								if item.img
									img(src="#{item.img}", alt="暂无图片")
				a.more(href="/diarys") 更多----->
		.ty_right
			.ty_article_list
				h2.ty_index_h2
					span 景区新闻
				ul
					each item in articles
						li
							h3 
								a(href="article_in?articleId=#{item.articleId}") #{item.title}
							p #{item.summary}
				a.more(href="/articles") 更多----->
	.ty_picall
		h2.ty_index_h2
			span 图片赏析
		ul
			each item in imgs
				li
					a(href="#") 
						img(src="#{item.url}", alt="alt")
	.dialog_for_show
		.topbar 欢迎大家进入百里画廊旅游网
		.con
			img.img(src="/libs/images/timg.jpeg", alt="alt")
			img.img1(src="/libs/images/yun1.png", alt="alt")
			img.img2(src="/libs/images/yun2.png", alt="alt")
			.topThree
				if bannars
					each item in bannars
						a.product(href="diary_in?diaryId=#{item.diaryId}")
							img(src="#{item.img}",alt="#{item.title}")
			p 点击任意地点关闭
	script(src="/libs/js/swiper.js")
	script(src="/libs/js/app.js")
	script(src="/libs/js/img.js")
	script(type='text/javascript').
		var swiper = new Swiper('.swiper-container', { pagination: '.swiper-pagination',paginationClickable: true });
	
