extends ../layout

block content
	.ty_bannar
		.swiper-container(style='width:100%;height:400px;')
			.swiper-wrapper
				.swiper-slide
					img(src="/libs/images/timg.jpeg")
				.swiper-slide
					img(src="/libs/images/timg.jpeg")
				.swiper-slide
					img(src="/libs/images/timg.jpeg")
			.swiper-pagination
	.ty_index
		.ty_left
			.ty_article_list
				h2.ty_index_h2 
					span 旅游日记
				ul
					each item in diarys
						li
							h3 
								a(href="diary_in?diaryId=#{item.diaryId}") #{item.title}
							p #{item.summary}
				a.more(href="/diarys") 更多----->
		.ty_right
			.ty_article_list
				h2.ty_index_h2
					span 景区新闻
				ul
					each item in articles
						li
							h3 
								a(href="article_in?articleId=#{item.articleId}") #{item.title}
							p #{item.summary}
				a.more(href="/articles") 更多----->
	.ty_picall
		h2.ty_index_h2
			span 图片赏析
		ul
			li
				a(href="#") 
					img(src="/libs/images/timg.jpeg", alt="alt")
			li
				a(href="#") 
					img(src="/libs/images/timg.jpeg", alt="alt")
	.dialog_for_show
		.topbar 欢迎大家进入十里长廊旅游网
		.con
			img.img(src="/libs/images/timg.jpeg", alt="alt")
			img.img1(src="/libs/images/yun1.png", alt="alt")
			img.img2(src="/libs/images/yun2.png", alt="alt")
			p 点击任意地点关闭
	script(src="/libs/js/swiper.js")
	script(src="/libs/js/app.js")
	script(type='text/javascript').
		var swiper = new Swiper('.swiper-container', { pagination: '.swiper-pagination',paginationClickable: true });
	
